<div class="cuerpo">
<div class="form-container mat-elevation-z5">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Ingrese su Email" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Ingrese su correo
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
       El correo no es valido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Ingrese su contraseña" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Contraseña
      </mat-error>
    </mat-form-field>

    
    <div class="center margin-top">
      <button type="submit" class="button"
              mat-raised-button 
              style="background-color: rgb(255, 0, 0); color: rgb(0, 0, 0);  ">Iniciar Sesión</button>
    </div>

    <span class="center margin-top">
      Eres nuevo?
      <button class="button2">
        <a class="sign-up-link" routerLink="/sign-up">
          Regístrate
        </a>
      </button>
    </span>
  </form>
</div>

</div>