.cuerpo{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  color: rgb(208, 255, 0);
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(to top, rgba(255, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../../assets/img/Reddragon.jpg);
}

.form-container {
  display: block;
  max-width: 500px;
  margin: auto;
   

  
  padding: 48px;
  border-radius: 16px;
}
mat-form-field {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
  color: rgb(255, 255, 255);
}

.text-center {
  text-align: center;
}
button{
  display: block;
}
.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(4, 0, 255);
  /* background-color: rgb(116, 19, 19); */
  border: none;
  border-radius: 14px;
  box-shadow: 0 5px rgb(0, 0, 0);
}

.button:hover {background-color: rgb(121, 0, 0)}

.button:active {
  transform: translateY(4px);
}



.button2 {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 14px;
  box-shadow: 0 5px rgb(0, 0, 0);
}

.button2:hover {background-color: rgb(94, 94, 94)}

.button2:active {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 5px rgb(94, 94, 94);
  transform: translateY(4px);
}



mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}