.example-card {
  max-width: 400px;
  display: inline-block;
  margin: 2% 2%;
}

.example-header-image {
  background-image: url('https://i.pinimg.com/originals/1b/3b/0d/1b3b0de1fa032dbe6f033486a391e110.jpg');
  background-size: cover;
}