<div>
  <button routerLink="/agregar-publicacion">Publica</button>
</div>
<div *ngFor="let post of posts">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.titulo}}</mat-card-title>
      <mat-card-subtitle>Usuario</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.pinimg.com/originals/86/49/1e/86491e237935679f628ee114197ea56e.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{post.fecha}}
      </p>
      <p>
        {{post.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Me gusta</button>
      <button mat-button>Comparte</button>
    </mat-card-actions>
  </mat-card>
  
</div>


